h1 {
    color: white; 
    text-align: center;
    
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

    font-size: 270%;
}

h2 {
    
    
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 170%;
      
}

h4 {
    color: rgb(184, 47, 5);
}

.boby{
    background-color: rgb(2,0,36);
}
    


.top {
    height: 60px;
    width: 100%;
    padding: 40px;
    margin: 5px;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
   

}

.lefttop {
    position: absolute;
    top: 6%;
    left: 8%;
}

.atop {
    position: absolute;
    top: 8%;
    left: 60%;
    font-size: 50%;
}

.ctop {
    position: absolute;
    top: 8%;
    left: 70%;
    font-size: 50%;
}

.adtop {
    position: absolute;
    top: 8%;
    left: 80%;
    font-size: 50%;
}

.jtop {
    position: absolute;
    top: 5%;
    left: 95%;
    font-size: 70%;
    padding: 10px;
    background-color: blue;
}

.bottom{
    height: 15%;
    width: 100%;
    padding: 40px;
    margin: 5px;
    background-color: #7067cf;
}

.green {
    color:green;
}

.box {
    height: 100px;
    width: 800px;
    padding: 20px;
    margin: 50x;
    Border: 10px solid black;
    background-color: rgb(122, 119, 119, 0.25);
}

.spacer {
    height: 100px;
    width: 800px;
    padding: 20px;
    margin: 50x;
    background-color: rgb(122, 119, 119, 0.0);
}

.Hero {
    position: relative;
    
}
.Hero img {
    display: block;
    width: 1580px;
    height: 700px;
}
.Overlay1{
    position: absolute;
    top: 43%;
    left: 8%;
    
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: left;
} 
.Overlay2{
    position: absolute;
    top: 15%;
    left: 8%;
    box-sizing: content-box;
    color: white;
    padding: 10px;
    font-size: 80px;
    text-align: left;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 80px;
} 
.Overlay3 {
    position: absolute;
    top: 78%;
    left: 16%;
    color: white;
    background-color: blue;
    padding: 15px;
    font-size: 35px;
    text-align: left;
}

.RightText{
    position: absolute;
    top: 135%;
    left: 55%;
    box-sizing: content-box;
    color: white;
    padding: 10px;
    font-size: 80px;
    text-align: left;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 80px;
}

.RightTextp{
    position: absolute;
    top: 151%;
    left: 55%;
    box-sizing: content-box;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    
}

.Rightbutton1{
    position: absolute;
    top: 187%;
    left: 57%;
    box-sizing: content-box;
    color: white;
    background-color: blue;
    padding: 15px;
    font-size: 22px;
    text-align: left;
    
}

.Rightbutton2{
    position: absolute;
    top: 187%;
    left: 80%;
    box-sizing: content-box;
    color: white;
    background-color: blue;
    padding: 15px;
    font-size: 22px;
    text-align: left;
    
}

.LeftText{
    position: absolute;
    top: 215%;
    left: 10%;
    box-sizing: content-box;
    color: white;
    padding: 10px;
    font-size: 80px;
    text-align: left;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 80px;
}

.Rightimage{
    position: absolute;
    top: 217%;
    left: 55%;
    padding: 10px;
}

.LeftTextp{
    position: absolute;
    top: 231%;
    left: 10%;
    box-sizing: content-box;
    color: white;
    font-size: 18px;
    width: 610px;
}

.Leftbutton{
    position: absolute;
    top: 263%;
    left: 15%;
    box-sizing: content-box;
    color: white;
    background-color: blue;
    padding: 15px;
    font-size: 22px;
    text-align: left;
    
}

.footer {
    height: 260px;
    width: 100%;
    padding: 40px;
    margin: 5px;
    bottom: 10%;
    background: black;
}

.footerbutton1{
    position: absolute;
    top: 303%;
    left: 70%;
    box-sizing: content-box;
    color: white;
    background-color: blue;
    padding: 15px;
    font-size: 22px;
    text-align: left;
    
}

.footerbutton2{
    position: absolute;
    top: 323%;
    left: 70%;
    box-sizing: content-box;
    color: white;
    background-color: blue;
    padding: 15px;
    font-size: 22px;
    text-align: left;
}

.footerText1{
    position: absolute;
    top: 303%;
    left: 10%;
    box-sizing: content-box;
    color: white;
    padding: 15px;
    font-size: 45px;
    text-align: left;
    text-align: left;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.footerText2{
    position: absolute;
    top: 323%;
    left: 13%;
    box-sizing: content-box;
    color: white;
    padding: 15px;
    font-size: 18px;
}

.footerimage{
    position: absolute;
    top: 322%;
    left: 10%;
    padding: 10px;
    color: white;
}